p {
    text-align: left;
}

h5 {
    padding-bottom: .3em;
    text-align: center;
}

h4 {
    padding-bottom: .5em;
    text-align: center;
}

h3 {
    padding: .75em 0em;
    text-align: center;
}

h1 {
    text-align: center;
}

.container {
    padding-top: 1.7em;
    padding-bottom: 1.7em;
}

.survey {
    height: 100%;
    width: 100%;
    background-color: #EFEFEF;
    padding-bottom: 10em;
}

.opening-header {
    columns: #000000;
    padding-bottom: .5em
}

.center-btn {
    margin: 0 auto;
}

.card {
    min-height: 100%;
    border: 0;
    border-radius: 0;
}

.card-img-top {
    border: 0;
    border-radius: 0 !important;
}

.story-card {
    padding-bottom: 3em;
}

.header-top {
    border-top: 11px solid #2B4888
}

.spacer {
    padding-bottom: 3em;
}

.header-main-top {
    background-image: url(dot.png);
    min-width: 100%;
    position: absolute;
    top: 4px;
    height: 3px;
}

.header-main {
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 80px;
}

.left-logo {
    float: left;
    height: 50px;
}

.right-logo {
    float: right;
    line-height: 2.5rem;
}

.website-link {
    float: right;
    background-color: white;
    border-color: lightgrey
}

.header-bottom {
    border-top: 5px solid #c9c9c9
}

.survey-outer {
    width: 100%;
    height: 100%;
}

.center-text {
    text-align: center
}

.height-switch {
    width: 100%;
    min-height: 500px;
    max-height: 560px;
}

/* .alt-background {
    background-color: #f2f2f2;
    padding-bottom: 1em;
} */

.header-width {
    width: 100%;
}

.primary-color {
    color: #ffffff;
    background-color: rgb(0, 174, 239);
}

.primary-color a:link,
.secondary-color a:link,
.tertiary-color a:link,
.black a:link {
    color: white;
}

.primary-color a:visited,
.secondary-color a:visited,
.tertiary-color a:visited,
.black a:visited {
    color: white;
}

.primary-color a:hover,
.secondary-color a:hover,
.tertiary-color a:hover,
.black a:hover {
    color: yellow;
}

.tertiary-color {
    color: #ffffff;
    background-color: #753bbd;
}

.black {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

.grey {
    color: black;
    background-color: #ededed;
    border-color: #ededed;
}

.signup {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
}

.signup-main {
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
}

.speakup-logo-small {
    display: inline;
}

.speakup-logo-large {
    display: none;
}

.right-logo {
    margin-top: 10px;
    margin-right: 16px;
}

.left-logo {
    margin-top: 10px;
    margin-left: 60px;
}

.survey-link {
    width: 250px;
}

.card {
    margin-bottom: 0px !important;
}

/* md bootstrap breakpoint */

@media (min-width: 768px) {
    .height-switch {
        max-height: 800px;
        min-height: 600px;
    }
    .speakup-logo-small {
        display: none;
    }
    .speakup-logo-large {
        display: inline;
    }
    .right-logo {
        margin-top: 8px;
        margin-right: 48px;
    }
}
